<section class="post" data-postid="{{id}}">
  <a class="post-title" href="/posts/{{id}}">{{title}}</a>
  <h5>Posted by {{user.username}} on {{formatDate updatedAt}}</h5>
  <p>{{content}}</p>
</section>