<div class="columns m-5">
  <article class="box column has-background-light post" data-postid="{{id}}">
    <a class="title is-4 post-title has-text-info" href="/posts/{{id}}">{{title}}</a>
    <h3>Posted by {{user.username}} on {{formatDate updatedAt}}</h3>
    <p class="mt-3">{{content}}</p>
  </article>
</div>