<h2 class="title is-2 m-6">Your Dashboard</h2>

{{#if main}}
<div class="container is-fluid">
  <ul>
    {{#each posts as |post|}}
    <div class="box">
      <a href="/dashboard/posts/{{id}}">
        <li class="is-size-5 is-flex is-justify-content-space-between">
          <p>{{title}}</p>
          <p>{{formatDate updatedAt}}</p>
        </li>
      </a>
    </div>
    {{/each}}
  </ul>
  <div class="is-flex is-justify-content-center">
    <a href="/dashboard/new"><button class="button is-link m-6" id="newPostBtn" type="button"><i class="fa-solid fa-plus has-text-warning mr-2"></i>Add New Post</button></a>
  </div>
</div>


{{/if}}

{{#if new}}
<div class="container is-fluid has-text-centered">
  <h3 class="title is-3 m-6">Create New Post</h3>
</div>

<div class="container is-fluid">
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="field">
        <label class="label" for="postTitle">Title</label>
        <div class="control">
          <input class="input" id="postTitle" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label" for="postContent">Content</label>
        <div class="control">
          <textarea class="textarea is-large is-size-6" id="postContent"></textarea>
        </div>
        <div class="control">
          <button class="button is-link mt-2" id="createBtn" type="button"><i class="fa-solid fa-pen mr-2 has-text-warning"></i>Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/create.js"></script>
{{/if}}

{{#if edit}}
{{#with post}}
<div class="container is-fluid has-text-centered postForm" data-postid="{{id}}">
  <h3 class="title is-3 m-6">Edit Post</h3>
</div>

<div class="container is-fluid">
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="field">
        <label class="label" for="postTitle">Title</label>
        <div class="control">
          <input class="input" id="postTitle" type="text" value="{{title}}">
        </div>
      </div>

      <div class="field">
        <label class="label" for="postContent">Content</label>
        <div class="control">
          <textarea class="textarea is-large is-size-6" id="postContent">{{content}}</textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link mt-2" id="updateBtn" type="button"><i class="fa-solid fa-check fa-lg mr-2 has-text-success"></i>Update Post</button>
        </div>
        <div class="control">
          <button class="button is-warning mt-2" id="deleteBtn" type="button"><i class="fa-solid fa-xmark has-text-danger-dark fa-lg mr-2"></i>Delete Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- <form class="postForm" data-postid="{{id}}">
  <label for="postTitle">Title</label>
  <input id="postTitle" type="text" value="{{title}}">
  
  <label for="postContent">Content</label>
  <textarea id="postContent">{{content}}</textarea>

  <button id="updateBtn" type="button">Update Post</button>
  <button id="deleteBtn" type="button">Delete Post</button>
</form> --}}
{{/with}}
<script src="/js/edit.js"></script>
{{/if}}
